* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body  {
    background: #e6ecf0;
    font-family: 'Helvetica Neue', 'Helvetica' , Arial, Helvetica, sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smooth: antialiased !important;
}

htm, body, #app {
    height: 100%;
    margin: 0;
}

input, button {
    outline: 0;
}

/*permite que a tela tenha um tamanho máximo, com margem*/
.content {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

/*......................................header#main-header */

header#main-header {
    height: 46px;
    background: #FFF;

    /*Gera a linha em baixo da #main-header*/
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);

    /*para deixar em cima*/
    position: relative;
    z-index: 1;
}

/*Alinhamento principal dos itens da main-header*/
header#main-header .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

/*Não precisou*/
/*header#main-header .content .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background: #FF0000;
}*/

header#main-header nav ul {
    display: flex;
    list-style: none;
}

header#main-header nav ul li {
    display: flex;
    align-items: center;

    font-size: 13px;
    color: #667580;
    font-weight: bold;

    margin-left: 30px; /*distanciar os elementos da ul*/
}

header#main-header nav ul li:first-child {
    margin: 0; /*remove a distância do primeiro item*/
}

header#main-header nav ul li img {
    margin-right: 7px;
    width:20px;
    /*max-width: 20px; *//*tamanho máximo dos ícones*/
}

/*DIV do lado direito*/
header#main-header div.side
{
    display: flex;
}

/*input de search ... MASSA */
header#main-header div.side input {
    width: 220px;
    /*background: #f5f8fa;*/
    border: 1px solid #E6ECF0;
    height: 34px;
    padding: 0 35px 0 12px;
    border-radius: 16px;
    color: #667581;
    font-size: 12px;

    /*Imagem dentro do input...*/
    /*background: #f5f8fa url('/images/search.svg') no-repeat 175px center;*/

    background-color: #f5f8fa;
    background-image: url('/images/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50% 50%; /*diminui a imagem*/
    background-position-x: 140px;
}

/*Imagem do Avatar*/
header#main-header div.side img {
    height: 34px;
    width:35px;
    border-radius: 50%;

    margin: 0 15px;
}

/*Botão Tweet*/
header#main-header div.side button {
    height: 34px;
    background: #3bb9e3;

    /*alinha texto no centro*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #FFF;
    border: 0;
    border-radius: 16px;
}

/*......................................header#main-header */

div.banner {
    height: 380px;
    width: 100%;
    background: #3bb9e3;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
}

/*......................................div.bar */

div.bar {
    height: 59px;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
}

div.bar .content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 285px;
    height: 100%;
}

div.bar .content ul {
    display: flex;
    list-style: none;
    height: 100%;
}

div.bar .content ul li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 15px;

    position: relative;
}

div.bar .content ul li.active::after {
    content: '';
    width: 100%;
    height: 2px;

    position: absolute;
    bottom: 0;
    left: 0;
    background: #3BB9E3;
}

div.bar .content ul li.active strong {
    color: #3bb9e3;
}

div.bar .content ul li span {
    color: #667580;
    font-size: 12px;
    font-weight: bold;
}

div.bar .content ul li strong {
    color: #667580;
    font-size: 18px;
    font-weight: bold;
    margin-top: 2px;
}

/* botoes da barra lateral ... actions */

div.bar .content .actions {
    display: flex;
    /*width: 140px;*/
}

div.bar .content .actions button {
    height: 34px;

    /*alinha texto no centro*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: 90px;
    font-weight: bold;
    font-size: 14px;
    color: #3bb9e3;
    border: 1px solid #3bb9e3;
    border-radius: 16px;

    margin-right: 20px;
}

div.bar .content .actions img {
    max-width: 30px;
}

/*......................................div.bar */

/*......................................div.wrapper-content */

div.wrapper-content {
    display: flex;

}

div.wrapper-content aside.profile {
    width: 260px;
}

div.wrapper-content aside.profile img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    margin-top: -130px;
}

div.wrapper-content aside.profile h1 {
    font-size: 21px;
    color: #1f2226;
    margin-top: 10px;
}

div.wrapper-content aside.profile span {
    font-size: 14px;
    color: #53626c;
}


div.wrapper-content aside.profile p {
    font-size: 14px;
    color: #1F2226;
    margin-top: 15px;
}

div.wrapper-content aside.profile ul {
    margin-top: 20px;
    list-style: none;    
}

div.wrapper-content aside.profile ul.list li {
    font-size: 14px;
    color: #657786;

    display: flex;
    align-items: center;
    margin-top: 5px;
}

div.wrapper-content aside.profile ul.list li:first-child {
    margin: 0;
}

div.wrapper-content aside.profile ul.list li img {
    margin-right: 10px;
}

div.wrapper-content aside.profile .widget {
    margin-top: 20px;
}

div.wrapper-content aside.profile .widget strong {
    font-weight: normal;
    color: #3BB9E3;
    font-size: 14px;
    
    display: flex;
    align-items: center;
}

div.wrapper-content aside.profile .widget strong img {
    margin-right: 5px;
}

div.wrapper-content aside.profile .followers ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

div.wrapper-content aside.profile .followers ul li {
    width: 45px;
    height: 45px;
    background: #d0d5d9;
    border-radius: 50%;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
}


div.wrapper-content aside.profile .images ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

div.wrapper-content aside.profile .images ul li {
    width: 80px;
    height: 80px;
    background: #d0d5d9;
    border-radius: 8px;
    flex: 1 0 auto;
    margin: 0 5px 5px 0;
}



/*......................................div.wrapper-content */

/* estilos de exercício ..................... */
#app {
    display: flex;
    flex-direction: row;
    /*flex-direction: column; */

    /*
    align-items: center; 
    justify-content: center;
    */
    /*flex-wrap: wrap;*/

    align-items: center;
    justify-content: space-between;
    align-content: center;
}

.box {
    width: 250px;
    height: 60px;
    background: #F00;
    margin: 5px;

    /*flex-grow: 1;*/ /*se estica */
    /*flex-shrink: 0;*/ /* encolhe */

    /*ou o padrao usado...*/
    /*flex: 1;*/
}

.red {
    background: #FF0000;
    order: 1;
}

.green {
    background: #00FF00;
    order: 2;
}

.blue {
    background: #0000FF;
    order: 0;
}

